{% load static %}
<html>
    <head>
        <title>Juulin blogi</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
    </head>
    <body>
        <h1>JUULI</h1>
        <div>
            {% for post in posts %}
                <div>
                    <p>{{ post.created_date }}</p>
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
             {% endfor %}
        </div>
    </body>
</html>